{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css">
  <link rel="stylesheet" href="{% static 'css/admin-theme.css' %}">
{% endblock %}

{% block extrahead %}{{ block.super }}<link rel="icon" href="{% static 'icons/assessment.svg' %}" type="image/svg+xml">{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img class="admin-brand-icon" src="{% static 'icons/assessment.svg' %}" alt="">역량검사 관리자</a></h1>
{% endblock %}

{% block userlinks %}
  <a href="{{ site_url }}">지원자 목록</a> /
  {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
  {% endif %}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}
